{% extends "base.html" %}

{% block title %}
  Anonymous
{% endblock %}

{% block body %}
    <div class="container">
      <form method="POST" id="form" 
        action="{{ '/edit/' + article.id if article else '/post' }}">
        <div class="form-group">
          <input name="header" class="form-control" placeholder="Заголовок" 
            autofocus value="{{ article.header if article else '' }}"/>
        </div>
        <div class="form-group">
          <input name="signature" class="form-control" placeholder="Подпись" 
            value="{{ article.signature if article else '' }}"/>
        </div>
        <div class="form-group">
          <textarea name="body" class="form-control" rows="10" placeholder="Ваша история">
            {{- article.body if article else '' -}}
          </textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">
            {{ 'Обновить' if article else 'Опубликовать' }}
          </button>
        </div>
      </form>
    </div><!-- /.container -->

    <script>
      const formElement = document.getElementById("form")

      function postArticle(event) {
        event.preventDefault()
        const formData = new FormData(formElement)
        const formValues = {}
        formData.forEach((value, key) => formValues[key] = value)
        
        fetch('/api/articles', {
          method: 'POST',
          headers: {"Content-Type": "application/json; charset=utf-8"},
          body: JSON.stringify(formValues)
        })
          .then(response => response.text())
          .then(data => console.log(data))
      }
    </script>
{% endblock %}
