{% extends "base.html" %}

{% block title %}
  Anonymous
{% endblock %}

{% block body %}
    
    <form method="POST" id="form" 
      action="{{ url_for('get_edit_page', article_id=article.id) if article else url_for('save_article') }}">
      <div class="form-group">
        <input name="header" class="form-control" placeholder="Заголовок" 
          autofocus value="{{ article.header if article else '' }}"/>
      </div>
      <div class="form-group">
        <input name="signature" class="form-control" placeholder="Подпись" 
          value="{{ article.signature if article else '' }}"/>
      </div>
      <div class="form-group">
        <textarea name="body" class="form-control" rows="10" placeholder="Ваша история">
          {{- article.body if article else '' -}}
        </textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">
          {{ 'Обновить' if article else 'Опубликовать' }}
        </button>
      </div>
    </form>

{% endblock %}
