{% extends "base.html" %}

{% block title %}
    Articles
{% endblock %}

{% block body %}
    <ul>
        {% for article in article_list %}
            <li style="margin-bottom: 1rem;">
                <a href="{{ url_for('get_article_page', article_id=article.id) }}">{{ article.header }}</a>
                {% if session.userid == article.userid %}
                <a href="{{ url_for('get_edit_page', article_id=article.id) }}" class="text-danger">Edit</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}